@media (max-width: 480px) {
  button {
    width: 80%;
    font-size: 16px;
    padding: 12px;
  }

  #score,
  #high-score,
  #timer {
    font-size: 1.3rem;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  #score,
  #high-score,
  #timer {
    font-size: 1.5rem;
  }
}

@media (min-width: 1025px) {
}

html,
body {
  margin: 0%;
  padding: 0%;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #dac8ac;
}

#headerimg {
  width: 100%;
  height: auto;
  max-height: 40vh;
  object-fit: contain;
}

#score,
#high-score,
#timer {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 10px;
  color: #222;
}

#high-score {
  margin-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 40px;
  row-gap: 40px;
  justify-items: center;
  margin: 20px auto 30px;
  width: fit-content;
}

.game-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

.hole {
  width: clamp(80px, 22vw, 150px);
  height: clamp(80px, 22vw, 150px);
  background: #014984;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.4);
}

.mole {
  width: 100%;
  height: 100%;
  background: url("https://i.ibb.co/jZw95y8p/g5-WU5-Ydi-400x400-removebg-preview.png")
    no-repeat center;
  background-size: 80%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.mole:hover {
  transform: scale(1.15);
}

button {
  padding: 15px 35px;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  background: #ff9233;
  color: white;
  border: none;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

button:hover {
  background: #420051;
}
button:active {
  transform: translateY(4px);
  background: #404040;
}
