@media (max-width: 481px) {
  .header-text p {
    font-size: clamp(1.2rem, 2vw, 1.4rem);
  }
  .header-text h1 {
    font-size: clamp(2rem, 5vw, 4rem);
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  h1:nth-of-type(2) {
    display: block;
  }
  .header-text p {
    font-size: clamp(12px, 2vw, 18px);
  }
  .header-text h1 {
    font-size: clamp(2rem, 5vw, 4rem);
  }
}

@media (min-width: 1025px) {
  h1:nth-of-type(3) {
    display: block;
  }
}

html,
body {
  margin: 0%;
  padding: 0%;
  font-family: Arial, sans-serif;
  text-align: center;
}

.background {
  position: fixed;
  background-color: #c0ae90;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://i.ibb.co/x8Lrm4zz/whackajan-1920x1080.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

#howTo {
  font-size: 1.4rem;
}

#score,
#high-score,
#timer {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 1px;
  color: #222;
}

#high-score {
  margin-top: 300px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-gap: 25px;
  justify-content: center;
  margin-top: 30px;
}

.hole {
  width: 150px;
  height: 150px;
  background: #014984;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.4);
}

.mole {
  width: 150px;
  height: 150px;
  background: url("https://i.ibb.co/jZw95y8p/g5-WU5-Ydi-400x400-removebg-preview.png")
    no-repeat center/cover;
  background-size: 110px;
  overflow: hidden;
  border: none;
  top: 15px;
  left: 15px;
  border-radius: 80px;
  cursor: pointer;
  transition: transform 0.2s linear;
}

.mole:hover {
  transform: scale(1.15);
}

button {
  padding: 15px 35px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  background: #ff9233;
  color: white;
  border: none;
  border-radius: 15px;
  margin: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

button:hover {
  background: #420051;
}
button:active {
  transform: translateY(4px);
  background: #404040;
}
